@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
$primary-color: #F26B3A;

body {
    font-family: 'Sen',
        sans-serif;
    min-height: 100vh;
    position: relative;
}

section.jumbotron {
    background-color: rgb(255, 244, 244);
    min-height: 350px;

    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    @media (min-width:768px) {
        h1 {
            font-size: 2.8rem;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    z-index: 999;
    width: 100%;
    background-color: lighten($color: #F26B3A, $amount: 10);
}